<p>
Pdxactivist.org is a collaborative community calendar we have created to move information about activism and resistance in Portland out of corporate silos like Facebook. This is a place to share protests, assemblies, direct actions, and other events that are open to public participation.
</p>
