$white: #fff;
$black: #2F0000;
$grey: #4B4B4B;
$red: #B40000;
$wifi_blue: #6098e6;

$dk_green: #445544;
$lt_blue: #e8fbfe;

$box_background: #eee;
$closed: $red;
$default_text: $black;
$footer: $red;
$header: $grey;
$header_text: $white;
$header_links: #ccc;
$subnav: $red;
$link: $red;
$link_visited: darken($red, 10%);
$wifi: $wifi_blue;

$section_head_background: $box_background;
$text_highlight: $red;
